{{ partial "header.html" . }}
<nav class="navbar" role="navigation">
  <ol class="breadcrumb">
    <li><a href="/index.html">Cover</a></li>
    <li class="active">{{ .Title }}</li>
  </ol>
</nav>
<div class="container-fluid">
  <div class="row">
    <div class="col-xs-18 col-md-12">
      <div class="media">
        <a class="media-left" href="#">
          <img class="img-responsive" src="{{ .Params.thumbnail }}" alt="About me">
        </a>
        <div class="media-body">
          <h1 class="media-heading"><a href="{{ .Permalink }}">{{ .Title }}</a></h1>
          <p>{{ .Date.Format "02 Jan 2006, 15:04" }}</p>
          {{ .Content }}
          <p class="post-meta">
            {{ if isset .Params "categories" }}
            {{ range .Params.categories }}<a class="post-category post-category-{{ . }}" href="/categories/{{ . | urlize }}.html">{{ . }}</a>{{ end }}
            {{ end }}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

{{ partial "footer.html" . }}
{{ partial "end.html" . }}
