{{ partial "header-blog.html" . }}

<nav class="navbar" role="navigation">
  <ol class="breadcrumb">
    <li><a href="/index.html">Cover</a></li>
    <li><a href="/post.html">Posts</a></li>
    <li class="active">{{ .Title }}</li>
  </ol>
</nav>

<main>
  <aside class="spacer">&nbsp;</aside>
  <article>
    <div itemscope itemtype="http://schema.org/Article">
      <header>
        <h1 itemprop="name"><a href="{{ .Permalink }}">{{ .Title }}</a></h1>
        <time itemprop="articleBody">{{ .Date.Format "02 Jan 2006" }}</time>
      </header>
      {{ .Content }}
    </div>
<!--      <nav>
      <ul class="pager">
        {{ if .Prev }}<li><a href="{{ .Prev.Permalink }}">{{ .Prev.Title }}</a></li>{{ end }}
        {{ if .Next }}<li><a href="{{ .Next.Permalink }}">{{ .Next.Title }} →</a></li>{{ end }}
      </ul>
      </nav>
-->
  </article>
  <aside>
    <div class="aside">
      <h4>Gist</h4>
      <p>{{ .Description }}</p>
      <p>Read in {{ .ReadingTime }} min / {{ .FuzzyWordCount }} words</p>
    </div>
    <div class="aside">
      <h4>Tagged in</h4>
      <ol class="aside__tags">
        {{ range .Params.categories }}
        <li>
          <!--<a href="/categories/{{ . | urlize }}.html">-->
            {{ . }}
          <!--</a>-->
        </li>
        {{ end }}
      </ol>
    </div>
  </aside>

</main>

{{ partial "footer.html" . }}
{{ partial "end.html" . }}
