{{ partial "header-blog.html" . }}
<nav class="navbar" role="navigation">
    <a href="/index.html">{{ .Site.Title }}</a>&nbsp; &middot; {{ .Title }}
</nav>
<main>
    {{ range .Data.Pages }}
    <div class="entry">
        <header>
            <h1 itemprop="name"><a href="{{ .Permalink }}">{{ .Title }}</a></h1>
            <span class="datesection" itemprop="articleBody"><time>{{ .Date.Format "02 Jan 2006" }}</time></span>
        </header>
        {{ with .Params.thumbnail }}
        <div class="thumbnail">
            <img src="{{.}}"/>
        </div>
        {{ end }}
        {{ with .Description }}<p>{{.}}</p>{{end}}
        {{ with .Summary}}<p>{{.}}</p>{{end}}
        {{ if .Truncated }}
        <p class="readtime"><a href="{{ .Permalink }}"><nobr>{{.ReadingTime}} min read →</nobr></a></p>
        {{ end }}
    </div>
    {{ end }}
</main>
{{ partial "footer.html" . }}
{{ partial "end.html" . }}
