
body {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: stretch;
  align-items: stretch;
  -webkit-justify-content: center;
  justify-content: center;
  min-height: 98vh;
  background-color: rgba(255, 255, 255, 0.8);
  font-family: 'Lora', sans-serif;
  color: rgba(35, 35, 35, 0.8);
}

p {
  margin: 0;
}

a, a:hover, a:active {
   color: rgba(0,0,0,0.8);
   text-decoration: none;
}

img {
    border-radius: 1px;
    image-rendering: auto;
}

.center {
   margin-left: auto;
   margin-right: auto;
}

h1, h2, h3,
h4, h5, h6 {
   margin-top: 0;
   font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
   font-weight: 700;
   color: rgba(51, 51, 51, 1.0);
   letter-spacing: -0.01em;
   margin-bottom: 4px;
}

h1 { font-size: 28px; }
h2 { font-size: 22px; }
h3 { font-size: 18px; }

blockquote {
  font-style: italic;
  font-size: 0.6em;
  background-color: rgba(141,141,141, 0.2);
  border-radius: 4px;
  padding: 2em;
  margin-bottom: 2em;
  margin-left: 6px;
  margin-right: 6px;
}

nav {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: right;
  justify-content: right;
  margin: 0;
  margin-left: 1em;
  padding: 0;
  opacity: 0.8;
  background-color: rgba(255,255,255,0.6);
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.05);
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,0.05);
  box-shadow: 0 1px 2px rgba(0,0,0,0.05);
}

main {
  display: -webkit-flex;
  display: flex;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: column;
  align-items: center;
}

footer, footer a {
  color: rgba(51,51,51,.7);
  font-size: 0.8em;
  text-align: center;
}

.aside__tags {
    padding: 0;
    font-style: normal;
    font-size: 0.8rem;
}

.aside__tags > li {
    display: inline-block;
    list-style-type: none;
    padding-right: 1em;
    padding-left: 1em;
    background: #efefef;
    border-radius: 3px;
    line-height: 22px;
    padding-top: 0.4em;
    padding-bottom: 0.4em;
    margin-right: 0.8em;
}

main .content > header {
  padding: 1.2em;
  padding-top: 20px;
  padding-bottom: 20px;
  color: rgba(0,0,0,0.6);
  font-size: 18px;
  word-wrap: break-word;
  letter-spacing: -0.02em;
}

main .content .title {
  margin-top: 30px;
  margin-bottom: 0;
  font-size: 50px;
  font-weight: 700;
  letter-spacing: -0.04em;
}

main > .content {
  -webkit-display: flex;
  display: flex;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  -webkit-align-items: flex-start;
  align-items: center;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  margin: 1.2em;
}

main .entry {
  -webkit-display: flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: flex-start;
  align-items: flex-start;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 1.2em;
  width:50%;
}

main .entry > p {
  margin-bottom: 1.2em;
  line-height: 1.25;
  letter-spacing: .005rem;
  font-size: 16px;
}

main .entry > header {
  margin-bottom: 0.9em;
}

main .entry .datesection {
  font-size: 0.9em;
  opacity: 0.6;
}

main .entry p a,
main .entry p a:hover,
main .entry p a:active {
   color: rgba(0,0,0,0.8);
   text-decoration: underline;
}

main .entry ol {
    margin-top: 0;
    margin-bottom: 2em;
}

main > aside {
  display: -webkit-flex;
  display: flex;
  -webkit-flex: 1 1 35em;
  -ms-flex: 1 1 35em;
  flex: 1 1 35em;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-top: 1em;
  min-width: 12em;
}

.aside {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  -webkit-align-items: flex-start;
  align-items: flex-start;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  font-style: italic;
  font-size: 0.9rem;
}

.aside p {
  margin-bottom: 1em;
}

.aside a, .aside p {
  line-height: 1.45;
  letter-spacing: .005rem;
  color: rgba(35,35,35,.8);
}

.readtime {
  font-size: 0.6em;
  color: rgba(0,0,0,0.4);
}

/* http://jonathannicol.com/blog/2014/06/16/centre-crop-thumbnails-with-css/ */
/*.thumbnail {
  position: relative;
  width: 300px;
  height: 300px;
  overflow: hidden;
  margin-bottom: 1em;
}
.thumbnail img {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 100%;
  width: auto;
  -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
}
.thumbnail img.portrait {
  width: 100%;
  height: auto;
}
*/
.thumbnail-description {
    font-style: italic;
    color: rgba(0,0,0,0.6);
}

/** Button (Prev/Next) */
.btn-group {
    margin-left: auto;
    margin-right: auto;
    font-size: 13px;
}

.btn {
    display: inline-block;
    margin: 1em;
    padding: 0.8em;
    border-radius: 6px;
    border: 1px solid rgba(141,141,141,.2);
    background-color: rgba(141,141,141,.2);
    width: 4em;
    text-align: center;
}

.btn.disabled {
    background-color: #fff;
}

.btn.disabled a {
    color: #ccc;
    cursor: not-allowed;
}

@media only screen and (max-width: 1024px) {
  main {
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    flex-wrap: wrap;
  }
  main > aside {
    -webkit-flex: 0;
    -ms-flex: 0;
    flex: 0;
  }
}

/* http://css-tricks.com/snippets/css/media-queries-for-standard-devices/ */
/* Smartphones (Portrait and landscape) ----------- */

/* ----------- iPhone 5 and 5S ----------- */

/* Portrait and Landscape */
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2) {
  main {
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    flex-wrap: wrap;
  }
  main .entry {
      width: 100%;
  }
}

/* Portrait */
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
  main {
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    flex-wrap: wrap;
  }
  main .entry {
      width: 100%;
  }
}

/* Landscape */
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {
  main {
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
  }
  main .entry {
      width: 100%;
  }
}


/* ----------- iPhone 6 ----------- */

/* Portrait and Landscape */
@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2) {
  main {
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    flex-wrap: wrap;
  }
  main .entry {
      width: 100%;
  }
}

/* Portrait */
@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
  main {
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    flex-wrap: wrap;
  }
  main .entry {
      width: 100%;
  }
}

/* Landscape */
@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {
  main {
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    flex-wrap: wrap;
  }
  main .entry {
      width: 100%;
  }
}

/* ----------- iPhone 6+ ----------- */

/* Portrait and Landscape */
@media only screen
  and (min-device-width: 414px)
  and (max-device-width: 736px)
  and (-webkit-min-device-pixel-ratio: 3) {
  main {
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    flex-wrap: wrap;
  }
  main .entry {
      width: 100%;
  }
}

/* Portrait */
@media only screen
  and (min-device-width: 414px)
  and (max-device-width: 736px)
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) {
  main {
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    flex-wrap: wrap;
  }
  main .entry {
      width: 100%;
  }
}

/* Landscape */
@media only screen
  and (min-device-width: 414px)
  and (max-device-width: 736px)
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) {
  main {
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
  }
  main .entry {
      width: 100%;
  }
}

/* iPads (portrait and landscape) ----------- */
@media only screen
and (min-width : 768px)
and (max-width : 1024px) {
  main {
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    flex-wrap: wrap;
  }

  main .entry {
      width: 100%;
  }
}
