<nav class="navbar navbar-inverse" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <span class="navbar-brand">Jan Michael Alonzo</span>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="/index.html">Home</a></li>
        <li><a href="/photos.html">Photography</a></li>
      </ul>
      {{ if .Title }}
      <ul class="nav navbar-nav navbar-right">
        <li>
          <p class="navbar-text" itemscope itemtype="http://schema.org/Photograph">
            <span itemprop="headline"><strong>{{ .Title }}</strong></name>
            &nbsp;
            <span class="btn-exif-info" data-toggle="modal" data-target="#exif-modal">
              <i class="fa fa-info-circle"></i>
            </span>
          </p>
          {{ if isset .Params "categories" }}
          <p class="navbar-text">
          {{ range .Params.categories }}
              <a class="navbar-link label label-primary post-category post-category-{{ . }}" href="/categories/{{ . | urlize}}.html">#{{ . }}</a>
          {{ end }}
          </p>
          {{ end }}
        </li>
      </ul>
      {{ end }}
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
