<div class="sidebar pure-u-1 pure-u-md-1-4">
  <div class="header">
    <hgroup>
      <div class="profile-photo"></div>
      <h1 class="brand-title"><a href="{{ .Site.BaseUrl }}">{{ .Site.Title }}</a></h1>
      <h2 class="brand-tagline">“{{ with .Site.Params.Description}}{{.}}” {{ else }}A theme based on the pure css blog layout.{{end}}</h2>
    </hgroup>

    <nav class="nav">
      <ul class="nav-list">
        <li class="nav-item">
          <a href="https://twitter.com/{{ .Site.Params.twitter }}" class="pure-button">
            <i class="fa fa-lg fa-twitter"></i>
          </a>
        </li>
        <li class="nav-item">
          <a href="https://github.com/{{.Site.Params.github }}" class="pure-button">
            <i class="fa fa-lg fa-github"></i>
          </a>
        </li>
        <li class="nav-item">
          <a href="https://google.com/{{.Site.Params.gplus }}" class="pure-button">
            <i class="fa fa-lg fa-google-plus"></i>
          </a>
        </li>
        <li class="nav-item">
          <a href="https://linkedin.com/in/{{.Site.Params.linkedin }}" class="pure-button">
            <i class="fa fa-lg fa-linkedin"></i>
          </a>
        </li>
        <li class="nav-item">
          <a href="https://facebook.com/{{.Site.Params.facebook }}" class="pure-button">
            <i class="fa fa-lg fa-facebook"></i>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</div>
