{{ partial "header-blog.html" . }}

<nav class="navbar" role="navigation">
  <ol class="breadcrumb">
<!--    <li><a href="/index.html">Cover</a></li>-->
    <li class="active"><a href="/index.html">{{ .Title }}</a></li>
  </ol>
</nav>

<main role="main">
  <div class="content">
    <header>
      <h1 class="title">{{ .Title }}</h1>
      <p>random musings // <a href="https://twitter.com/jmalonzo">@jmalonzo</a></p>
    </header>
    {{ range .Data.Pages }}
    <div class="entry" itemscope itemtype="http://schema.org/Article">
        <header>
            <h2 itemprop="name"><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
            <span class="datesection" itemprop="articleBody"><time>{{ .Date.Format "02 Jan 2006" }}</time> in {{ .Section }}</span>
        </header>
        {{ with .Params.thumbnail }}
        <div class="thumbnail">
            <img src="{{.}}"/>
        </div>
        {{ end }}
        <p>{{ .Summary }}</p>
        {{ if .Truncated }}
        <p class="readtime"><a href="{{ .Permalink }}"><nobr>{{.ReadingTime}} min read →</nobr></a></p>
        {{ end }}
    </div>
    {{ end }}
  </div>
  <aside>
    <div class="aside">
      <h4>/me</h4>
      <p>I'm a programmer and I ♡ tech, photography, & travel.</p>
    </div>
  </aside>
</main>
{{ partial "footer.html" . }}
{{ partial "end.html" . }}
