{{ $baseurl := .Site.BaseUrl }}
{{ partial "header-cover.html" . }}

<div class="parallax">

  <div class="overview__cover parallax__group">
<!--   <div class="parallax__layer parallax__layer--back">
    </div>-->
    <div class="overview__cover--content parallax__layer parallax__layer--base">
      <nav class="navbar" role="navigation">
        <ol class="breadcrumb">
          <li><a href="/photos.html">Gallery</a></li>
          <li><a href="/post.html">Notes</a></li>
          <li class="active">{{ .Title }}</li>
        </ol>
      </nav>
      <article>
        <img src="{{ $baseurl }}/assets/profile.png" class="profile__photo"/>
        <h1 class="cover-heading">Evolve solutions; when you find a good one, don't stop.</h1>
        <p class="lead">
          {{ with .Site.Params.Description}}{{.}}  {{ else }}A theme based on the pure css blog layout.{{end}}
        </p>
        <div class="social__buttons">
          <a class="social__button" href="https://twitter.com/{{ .Site.Params.twitter }}">
            <i class="fa fa-lg fa-twitter"></i>
          </a>
          <a class="social__button" href="https://github.com/{{.Site.Params.github }}">
            <i class="fa fa-lg fa-github"></i>
          </a>
          <a class="social__button" href="https://google.com/{{.Site.Params.gplus }}">
            <i class="fa fa-lg fa-google-plus"></i>
          </a>
          <a class="social__button" href="https://linkedin.com/in/{{.Site.Params.linkedin }}">
            <i class="fa fa-lg fa-linkedin"></i>
          </a>
          <a class="social__button" href="https://facebook.com/{{.Site.Params.facebook }}">
            <i class="fa fa-lg fa-facebook"></i>
          </a>
        </div> 
      </div>
      </article>
    </div>
  </div>
</div>

{{ partial "end-cover.html" . }}
