<figure class="photoset__item--image"><picture><!--[if IE 9]><video style="display: none;"><![endif]--> {{ with .Get "srcname" }}<source srcset="{{.}}-large.webp" media="(min-width: 2560px)" type="image/webp"><source media="(min-width: 2560px)" srcset="{{.}}-large.jpg">
    <source srcset="{{.}}-large.webp" media="(min-width: 2048px)" type="image/webp">
    <source srcset="{{.}}-large.jpg" media="(min-width: 2048px)">
    <source srcset="{{.}}-medium.webp" media="(min-width: 1024px)" type="image/webp">
    <source srcset="{{.}}-medium.jpg" media="(min-width: 1024px)">
    <source srcset="{{.}}-small.webp" media="(min-width: 640px)" type="image/webp">
    <source srcset="{{.}}-small.jpg" media="(min-width: 640px)">
    <source srcset="{{.}}-xsmall.webp" media="(min-width: 320px)" type="image/webp">
    <source srcset="{{.}}-xsmall.jpg" media="(min-width: 320px)">
    <!--[if IE 9]></video><![endif]-->{{ end }}<img sizes="(max-width: 30em) 100%, (max-width: 50em) 50%, calc(33% - 100px)" {{ with .Get "srcname" }} srcset="{{.}}.jpg 2560w, {{.}}-large.jpg 2048w, {{.}}-medium.jpg 1024w, {{.}}-small.jpg 640w, {{.}}-xsmall.jpg 320w" src="{{.}}-small.jpg" {{ end }} {{with .Get "title"}}alt="{{.}}"{{end}}/></picture>
</figure>
