{{ partial "header-blog.html" . }}

    <div class="blog-masthead">
      <div class="container">
        <nav class="blog-nav">
          <a class="blog-nav-item" href="/index.html">Cover</a>
          <a class="blog-nav-item active" href="/post.html">Blog</a>
          <a class="blog-nav-item" href="/photos.html">Photography</a>
        </nav>
      </div>
    </div>

<div class="container">

  <div class="blog-header">
    <h1 class="blog-title">jm</h1>
    <p class="lead blog-description">Random musings and ramblings from the trenches.</p>
  </div>

  <div class="row">

    <div class="col-sm-8 blog-main">
      {{ range .Data.Pages }}
      <div class="blog-post" itemscope itemtype="http://schema.org/Article">
        <h2 itemprop="name" class="blog-post-title"><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
        <p itemprop="articleBody" class="blog-post-meta">{{ .Date.Format "02 Jan 2006, 15:04" }}</p>
        {{ .Summary }}
        <footer class="pager">
          <a href="{{ .Permalink }}"><nobr>Read more →</nobr></a>
        </footer>
      </div>
      {{ end }}
<!--       <nav>
        <ul class="pager">
          <li><a href="#">Previous</a></li>
          <li><a href="#">Next</a></li>
        </ul>
      </nav>
-->
    </div> <!-- /.blog-main -->

    <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
      <div class="sidebar-module sidebar-module-inset">
        <h4>About</h4>
        <p>Jan is a senior developer at Taguchi. Sometimes he takes pictures. Views here are his own and not of his employer's.</p>
      </div>
    </div><!-- /.blog-sidebar -->
  </div>
</div>

{{ partial "footer.html" . }}
{{ partial "end.html" . }}
